@font-face {
    font-family: 'PokemonClassic';
    src: url('../fonts/pokemon-classic.ttf') format('truetype');
}

* {
    margin: auto;
    max-width: 1600px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.pokedecks-title-logo {
    display: block;
    place-self: center;
    width: 300px;
    height: auto;
    padding: 10px;
}

header {
    font-family: 'PokemonClassic', sans-serif;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: rgb(151, 151, 151);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-bar {
    display: block;
    justify-content: space-around;
    padding: 10px;
}

.pokemon-container {
    text-align: center;
    max-width: 1000px;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'PokemonClassic', sans-serif;

}

.pokemon-types {
    display: flex;
}

.pokemon-container img {
    width: 350px;
    height: auto;
}

.stats-list li {
    text-align: left;
    list-style: none;
    padding: 0;
}

.card-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    gap: 30px;
}

.pokemon-card-image {
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease;
}

.pokemon-card-image:hover {
    box-shadow: 0 0px 25px rgba(0, 103, 10, 0.8);
}

.card-info {
    text-align: center;
}